* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: darkgray;
  transition: all 0.5s;
}
a:hover {
  color: rgba(103, 125, 106, 1);
}
body {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(214, 189, 152, 1) 0%,
    rgba(103, 125, 106, 1)
  );
}

@media (max-width: 590px) {
  .container {
    height: 29rem !important;
  }
  .container .waves {
    top: -100px !important;
  }
  .container .profile {
    width: 3rem !important;
    height: 3rem !important;
    top: 6.8rem !important;
  }
  .container .connections {
    margin-top: 5rem !important;
    font-size: 0.6rem !important;
  }
  .container .connections .social i {
    font-size: 1.5rem !important;
  }
  .bio {
    font-size: 0.7rem !important;
    height: 30% !important;
  }
  .container .connecting .btn {
    font-size: 0.6rem !important;
    padding: 0.6rem !important;
  }
}

@media (max-width: 700px) {
  .container .waves {
    top: -110px;
  }
  .container .profile {
    width: 5rem;
    height: 5rem;
    top: 7rem;
  }
  .container .connections {
    margin-top: 8rem;
    font-size: 0.7rem;
  }
  .container .connections .social i {
    font-size: 2rem;
  }
  .bio {
    font-size: 0.9rem;
    height: 50%;
  }
  .container .connecting .btn {
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}
@media (max-width: 800px) {
  .container .waves {
    top: -90px;
  }
}

.container {
  width: 50%;
  height: 35rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.waves {
  width: 100%;
  height: 50%;
  position: absolute;
  top: -75px;
}
.profile {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}
img {
  width: 100%;
  height: auto;
}

.connections {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}
.social {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.social i {
  padding: 0.2rem;
  font-size: 2.5rem;
  transition: all 0.5s;
}
.social a {
  color: rgb(60, 59, 59);
}
.social i:hover {
  color: rgba(103, 125, 106, 1);
}

.bio {
  width: 80%;
  height: 30%;
  text-align: justify;
}

.connecting {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.9rem;
  margin-right: 0.5rem;
  width: 50%;
  border-radius: 1rem;
  transition: all 0.5s;
}
.follow {
  background-color: rgba(103, 125, 106, 1);
}
.follow:hover {
  background-color: #ffffff;
  color: rgba(103, 125, 106, 1);
  border: solid rgba(103, 125, 106, 1);
}
.message {
  border: solid rgba(103, 125, 106, 1);
  color: rgba(103, 125, 106, 1);
}
.message:hover {
  background-color: rgba(103, 125, 106, 1);
  color: #ffffff;
}
